body {
    text-align: center;
}

h1 {
    background-color: blue;
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

.contianar{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    text-align: center;
}

.contianar p {
    padding: 20px;
    background: linear-gradient(rgb(91, 91, 128), rgb(77, 153, 200));
    color: white;
}

.contianar img {
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
    margin: auto;
    animation: rotate 4s linear infinite alternate;
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@media (max-width: 768px) {
    .contianar{
        display: flex;
        flex-direction:column;
    }
    .contianar p {
        padding:10px;
    }
}
